    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
    
    .container {
        width: 100%;
        max-width: 1140px;
        margin: auto;
        padding: 5px 15px;
        z-index: 2;
    }
    
    .cover {
        width: 100%;
        height: 100vh;
        position: absolute;
        background-color: rgba(0, 0, 0, .3);
    }
    
    header {
        position: absolute;
        color: #fff;
        top: 30px;
        width: 100%;
        z-index: 2;
    }
    
    header h1 {
        font-size: 2.8rem;
        text-shadow: 1px 2px 2px #000;
    }
    
    header .mobileMenu {
        width: 38px;
        height: 38px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
    
    header .mobileMenu-bar {
        width: 100%;
        height: 5px;
        background-color: #fff;
        border-radius: 3px;
    }
    
    header .mobileMenu:hover .mobileMenu-bar {
        background-color: #ea728c;
        transition: all ease .3s;
    }
    
    header nav ul {
        display: flex;
        list-style: none;
    }
    
    header nav ul li {
        margin-right: 8px;
    }
    
    header nav ul li a {
        font-size: 1rem;
        font-weight: bold;
        padding: 14px;
        color: #fff;
        text-decoration: none;
        text-shadow: 1px 2px 2px #000;
        cursor: pointer;
    }
    
    header nav ul li a:hover {
        color: #ea728c;
        transition: all ease .2s;
        border-bottom: 3px solid #ea728c;
        text-shadow: 1px 1px 1px rgb(55, 54, 54);
    }
    
    .headerContent {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
    #Intro {
        width: 100%;
        height: 100vh;
        background-image: url('./images/bg-2.2.jpg');
        background-position: 0px -120px;
        background-size: cover;
        display: flex;
        align-items: center;
        color: #fff;
    }
    
    .introContent h1 {
        font-size: 3.2rem;
    }
    
    .introContent span {
        font-size: 1.3rem;
        display: block;
    }
    
    .introContent a {
        display: block;
        padding: 15px;
        margin-top: 25px;
        margin-left: 10px;
        font-size: 1.1rem;
        border-radius: 50px;
        text-align: center;
        max-width: 120px;
        text-decoration: none;
        font-weight: bold;
        color: #fff;
        background-color: #ea728c;
    }
    
    .quickInfo {
        margin-bottom: 50px;
    }
    
    .quickInfoContent {
        position: relative;
        margin-top: -65px;
        height: 130px;
        background-color: #fff;
        box-shadow: 3px 2px 8px #000;
        border-radius: 5px;
        padding: 12px;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }
    
    .quickInfo-Item {
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 4px;
        flex: 1;
        margin: 5px;
        height: 100%;
    }
    
    .quickInfo-Item:hover {
        border-bottom: 3px solid #ea728c;
        transition: all ease .2s;
    }
    
    .quickInfo-Item img {
        width: 52px;
        margin-right: 12px;
    }
    
    .quickInfo_Item-text {
        text-align: center;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    
    .quickInfo_Item-text span {
        font-size: .95rem;
        font-weight: 600;
        color: #B3B3B3;
        margin-top: 10px;
        display: block;
    }
    
    .quickInfo_Item-text a {
        display: block;
        color: #ea728c;
        font-weight: 600;
        margin-top: 10px;
    }
    
    #aboutUs {
        height: 50vh;
        margin-bottom: 300px;
    }
    
    .aboutUsContent {
        height: 50vh;
        display: flex;
    }
    
    .leftContent {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
    }
    
    .leftContent h1 {
        font-size: 2rem;
        margin-bottom: 30px;
    }
    
    .leftContent p {
        display: block;
        margin-bottom: 30px;
    }
    
    .leftContent .socialMidiaContainer {
        display: flex;
    }
    
    .socialMidiaIcon {
        width: 48px;
        height: 48px;
        border-radius: 100%;
        background-color: #ea728c;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 10px;
    }
    
    .socialMidiaIcon img {
        width: 32px;
        height: 32px;
    }
    
    .rightContent {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    
    .rightContent .imageVertical {
        background-color: #ccc;
        width: 100%;
        height: 340px;
        box-shadow: 5px 2px 12px #111;
    }
    
    .rightContent .imageVertical:nth-child(1) {
        background-image: url('./images/bg-profile.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .rightContent .imageVertical:nth-child(2) {
        background-image: url('./images/bg-place.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-left: 15px;
        margin-bottom: 50px;
    }